# icebreaker clock
set_io clk 35

#IMU I2C BNO055
#in
#SDA to PMOD1A-10
set_io SDA_i 44

#SCL to PMOD1A-09
set_io SCL_i 46

#RST to PMOD1A-08
set_io RST_i 48

#out
#PMOD1b-01
set_io SDA_o 43

#PMOD1b-02
set_io SCL_o 38

#PMOD1b-03
set_io RST_o 34

# RGB LED DRIVER
set_io LED_RED_o 39
set_io LED_GRN_o 40
set_io LED_BLUE_o 41